
<admin-navBar></admin-navBar>
<br>
<br>
<br>
<br>
<br>


<div class="table-responsive">
    <table class="table table-hover table-dark data-table">
      <thead>
        <tr>
          <th scope="col" hidden>CategoryId</th>
          <th scope="col">Category</th>
          <th scope="col">Category price</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active" *ngFor= "let category of categories; index as i">
          <td>{{category.name}}</td>
          <td> {{category.price}}</td>
          <td><button  class="btn-table" (click)="onItemView(category)">View Items</button></td>
          <td><button *ngIf=update (click)=bringUpdateForm(i) class="btn-table">Update</button></td>
          <td><button *ngIf=delete (click)=deleteCategory(i)  class="btn-table">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

<div class="container-fluid">
    <div class="raw">

  <div class="col-md-4">
              
              <a class="btn btn-primary btn-xl" (click)="bringAddCategory()">Add</a>
          
  </div>
  <div class="col-md-4">
              
      <a class="btn btn-primary btn-xl" (click)="bringUpdateCategory()">Update</a>
  
</div>
<div class="col-md-4">
              
    <a class="btn btn-primary btn-xl" (click)="bringDeleteCategory()">Delete</a>

</div>
    </div>
</div>  
  
   <br>
   <br>
   

   <div class="container-fluid" *ngIf=add style="width: 50%;">
      <div class="row spacing">
        <div class="col-md-12 square-box7"  >
          <h1 class="left-heading menu-heading">Add Catogoreis</h1>
        
   <form [formGroup]="addCategoryForm" (ngSubmit) = "addCategory(addCategoryForm.value)">
      <ul class="menus-list-style">
        <li>
          <div class="form-group">
            <label for="CategoryName">Category Name</label>
            <input type="text" class="form-control" id="CategoryName" style="width: 20%" formControlName="name" placeholder="Category Name">
            <div *ngIf="addCategoryForm.get('name').touched && addCategoryForm.get('name').invalid">
              <div *ngIf="addCategoryForm.get('name').errors.required">capacity is required</div>
            </div>
          </div>
        </li>
        <li>
          <div class="form-group" >
            <label for="Categoryprice">Category Price</label>
            <input type="text" class="form-control" id="Duration" style="width: 20%" formControlName="price" placeholder="Category Price">
            <div *ngIf="addCategoryForm.get('price').touched && addCategoryForm.get('price').invalid">
              <div *ngIf="addCategoryForm.get('price').errors.required">price is required</div>
            </div>
          </div>
        </li>
       
        
      </ul>
      
        <div class="form-group" style="text-align: center">
          <input name="AddCategory" type="submit" class="btn btn-primary btn-xl" value="Add Category" required="required" style="align-self: center;width:50%" >
        </div>
     
        
      
      </form>
    </div>
    
  </div>
</div>


<div class="container-fluid" *ngIf=update style="width: 50%">
  <div class="row spacing">
    <div class="col-md-12 square-box7" style="margin-right: 3%; width:66% ">
      <h1 class="left-heading menu-heading">Update Category {{updatingCategory}}</h1>
    
<form [formGroup]="updateCategoryForm" (ngSubmit) = "updateCategory(updateCategoryForm.value)">
  <ul class="menus-list-style">
    <li>
      <div class="form-group">
        <label for="CategoryNewName">Category Name</label>
        <input type="text" class="form-control" id="CategoryNewName" style="width: 20%" formControlName="newName" placeholder="Category Name">
        <div *ngIf="updateCategoryForm.get('newName').touched && updateCategoryForm.get('name').invalid">
          <div *ngIf="updateCategoryForm.get('newName').errors.required">capacity is required</div>
        </div>
      </div>
    </li>
    <li>
      <div class="form-group" >
        <label for="CategoryNewPrice">Category Price</label>
        <input type="text" class="form-control" id="CategoryNewPrice" style="width: 20%" formControlName="newPrice" placeholder="Category Price">
        <div *ngIf="updateCategoryForm.get('newPrice').touched && updateCategoryForm.get('price').invalid">
          <div *ngIf="updateCategoryForm.get('newPrice').errors.required">price is required</div>
        </div>
      </div>
    </li>
   
    
  </ul>
  
    <div class="form-group" style="text-align: center">
      <input name="UpdateCategory" type="submit" class="btn btn-primary btn-xl" value="Update Category" required="required" style="align-self: center;width:50%">
    </div>
 
    
  
  </form>
</div>

</div>
</div>