<admin-navBar></admin-navBar>
<div class="container-fluid">
        <div class="raw">
            <div class="col-md-6">
                <div class="card">
                  <img src={{ConfirmedBookings}} class="card-img-top cardImages" alt="...">
                  <div class="card-body">
                    
                    <a class="btn btn-primary btn-xl" (click)="bringConfirmedBookings()" >Show</a>
                  </div>
                </div>
            </div>
    
            <div class="col-md-6">
                    <div class="card">
                        <img src={{TentativeBookings}} class="card-img-top cardImages" alt="...">
                        <div class="card-body">
                            
                            <a  class="btn btn-primary btn-xl"  (click)="bringTentativeBookings()">Show</a>
                        </div>
                    </div>
                </div>
                </div>
