
<div class="">
    
  <carousel>
    
      <slide>
        <img src={{pic1}} alt="First slide" class="img-responsive center-block" style="display: block; width: 100%;">
      </slide>

      <slide>
        <img src={{pic2}} alt="Second slide" class="img-responsive center-block" style="display: block; width: 100%;">
      </slide>

      <slide>
        <img src={{pic3}} alt="Third slide" class="img-responsive center-block" style="display: block; width: 100%;">
      </slide>

      <div class="carousel-caption">
          <div class="carousal-inner">
            
              <div class="form-group">
                <button [routerLink]="['/login']" name="BookNow" class="btn btn-primary btn-xl" required="required">Book Now</button>
              </div>
            
          </div>
      </div>
    </carousel>
   
</div>
