<br>
<br>
<br>

<div id="gallery">
    <div class="container-fluid">
      <div class="text-center">
        <h3>Choose Your Dream Banquet Hall</h3>
        
      </div>
      <div class="row">
        
        
            
          <div class="col-md-4 wow fadeInUp animated" data-wow-offset="0" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
              
            <a [routerLink]="['/login']" class="flipLightBox-1">
                <figure class="effect-chico">
                        <img src="{{hall1}}" class="img-responsive" alt="" >
                </figure>
            </a>
            
                          <div class="text-center">
            
                            <h2>Royal Tulip Banquet </h2>
                            
                            <p>Royal Tulip Banquet is the largest and most popular reception location we offer.
                               With a large spacious area and high ceilings with elegant crystal chandeliers,
                               we ensure a truly magical experience for your reception. The banquet hall is fully air-conditioned with a special lighting system which can be changed according to your color theme.</p>
                          </div>

          </div>
        
          
        
        
        
        
          <div class="col-md-4 wow fadeInUp animated" data-wow-offset="0" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
            <a [routerLink]="['/login']" class="flipLightBox-2">
                <figure class="effect-chico">
                        <img src="{{hall2}}" class="img-responsive" alt="">
                </figure>
            </a>
                          <div class="text-center">
            
                            <h2>Royal Lotus Banquet</h2>
                          
                            <p>Royal Lotus Banquet the ideal location we offer for wedding ceromonies. 
                              With a large spacious area and high ceilings with elegant crystal chandeliers,
                              we ensure a truly magical experience for your reception. The banquet hall is fully air-conditioned with a special lighting system which can be changed according to your color theme.</p>
                          </div>
          </div>
        

        
          <div class="col-md-4 wow fadeInDown animated" data-wow-offset="0" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
            <a [routerLink]="['/login']" class="flipLightBox-3">
                <figure class="effect-chico">
                        <img src="{{royalRose}}" class="img-responsive" alt="">
                </figure>
            </a>
                          <div class="text-center">
            
                            <h2>Royal Rose Banquet</h2>
                            
                            <p>We are Hotel Royal Park proudly inform all our customer’s that our upcoming new Banquet Hall - “Royal Rose” now is open for your wedding dreams. 
                                Especially this banquet hall is designed in different art of customer’s eye catch. 
                                Facility in 300 guests to accommodate comfortably. </p>
                          </div>
          </div>
        

        
          
        </div>
    </div>
</div>
  


