.square-box7 {
    background-color: #de9e0929;
    height: auto;
}
.btn-xl {
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 20px;
    border-color: #846837;
    height: 50px;
    background-color: rgb(231, 198, 154);
    color: #846837

}