.btn-xl {
    padding: 10px 10px;
    font-size: 25px;
    border-radius: 20px;
    border-color: #846837;
    width:100%;
    height: 70px;
    background-color: rgb(231, 198, 154);
    color: #846837

}