<br>
<br>
<br>
<br>
<br>
<div class="container-fluid">
  <div class="text-center">
    <h3 class="titleStyles">Choose Your Menu</h3>
    
  </div>

<!-- menu cards start -->

<div class="container-fluid">
    <div class="raw" fxLayout="row" >
      <div class="col-md-" *ngFor="let menu of menus">
        <div class="card">
          <img src={{royalSilverPic}} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title titleStyles">{{menu.name}}</h5>
            <p class="card-text">Rate: Rs.{{menu.price}}/- per person</p>
            <a class="btn btn-primary btn-xl" (click)="selectMenu(menu)">Veiw Detail</a>
          </div>
        </div>
      </div>
    </div>			
  </div>

<!-- menu cards end -->
<p></p>

<!-- dynamically render menu item table -->

<div class="container-fluid" *ngIf="clicked">
    <div class="row spacing">
      <div class="col-md-11 square-box7" style="margin-right: 3%; margin-left: 3%; width:94%; ">
        <h1 class="left-heading menu-heading">Customize Your Menu : {{selectedMenu}}</h1>
        <p class="menu-para-text">Additional Choices will Add a category price per plate:</p>
          <div class="menus-list-style" *ngFor="let menuCatergory of menuItems" align="left">
            <h2 style="font-style: italic">{{menuCatergory.categoryName}} Choose Any: {{menuCatergory.choiceOf}}</h2>
            <ul *ngFor="let catItem of menuCatergory.itemsList">
              <mat-checkbox (change)="chooseItem($event,menuCatergory)">{{catItem.name}}</mat-checkbox>
            <!-- <div class="form-check">
                <label class="form-check-label">
                  <br>Choose Item
                </label>
                </div> -->
            
              
            </ul>
            <h2>Additional charge for {{menuCatergory.categoryName}} Category: {{menuCatergory.additionalCharges}}</h2>
            <h3>----------------------------------------------------</h3>
          </div>
          <div>

          </div>
         
    </div>
  </div>
</div>
<!-- end of menu table -->

<!-- aditional services selection starts -->
<div class="container-fluid">
  <div class="row spacing">
    <div class="col-md-8 square-box7" style="margin-right: 3%; width:66% ">
      <h1 class="left-heading menu-heading">Additional Services</h1>
      <h1 class="left-heading menu-heading">Additional Services blah</h1>
      <p class="menu-para-text">Choose your Preffered Services</p>
<!-- form starts -->
      <form [formGroup]="eventPlanForm" (ngSubmit) = "calculateBudget(eventPlanForm.value)">
        <ul class="menus-list-style">
          <li>
            <div class="form-group">
              <label for="Capacity">Capacity</label>
              <input type="text" class="form-control" id="Capacity" style="width: 20%" formControlName="capacity" placeholder="Number of Participants">
              <div *ngIf="eventPlanForm.get('capacity').touched && eventPlanForm.get('capacity').invalid">
                <div *ngIf="eventPlanForm.get('capacity').errors.required">capacity is required</div>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group" >
              <label for="Duration">Duration</label>
              <input type="text" class="form-control" id="Duration" style="width: 20%" formControlName="duration" placeholder="Number of Hours">
              <div *ngIf="eventPlanForm.get('duration').touched && eventPlanForm.get('duration').invalid">
                <div *ngIf="eventPlanForm.get('duration').errors.required">duration is required</div>
              </div>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <!-- <label><input type="checkbox" value="" id="Draping" (click)="addDraping($event)" formControlName="draping">Full Ball Room Draping(LKR{{drapingPrice}}/- NETT)</label> -->
              <mat-checkbox (change)="addDraping($event)" formControlName="draping">Full Ball Room Draping(LKR{{drapingPrice}}/- NETT)</mat-checkbox>
            </div>
          </li>
          
          <li>
            <div class="checkbox" style="display: inline-block">
          <!-- <label><input type="checkbox" value="" (click)="addChampagne($event)" formControlName="champagne">Champagne Bottle for the Cahmpagne Fountain(LKR{{ChampagnePrice}}/- NETT)</label> -->
          <mat-checkbox (change)="addChampagne($event)" formControlName="champagne">Champagne Bottle for the Cahmpagne Fountain(LKR{{ChampagnePrice}}/- NETT)</mat-checkbox>
            </div>
          </li>
          <li>
            <div class="checkbox" style="display: inline-block">
              <!-- <label><input type="checkbox" value="" (click)="addDryIce($event)" formControlName="dryIce">Dry Ice(LKR{{dryIcePrice}}/- NETT)</label><label><input type="checkbox" value="" (click)="addDryIce($event)" formControlName="dryIce">Dry Ice(LKR{{dryIcePrice}}/- NETT)</label> -->
              <mat-checkbox (change)="addDryIce($event)" formControlName="dryIce">Dry Ice(LKR{{dryIcePrice}}/- NETT)</mat-checkbox>
            </div>
          </li>
          <li>
            <div class="checkbox" style="display: inline-block">
              <!-- <label><input type="checkbox" value="" (click)="addMilkPlatter($event)" formControlName="milkPlatter">Milk Rice Platter for Couple(LKR{{milkRicePlatterPrice}}/- NETT)</label> -->
              <mat-checkbox (change)="addMilkPlatter($event)" formControlName="milkPlatter">Milk Rice Platter for Couple(LKR{{milkRicePlatterPrice}}/- NETT)</mat-checkbox>
            </div>
          </li>
          <li>
            <div class="checkbox" style="display: inline-block">
              <!-- <label><input type="checkbox" value="" (click)="addDeco($event)" formControlName="deco">Decoration for Foyer(Basic-LKR{{ decoPrice}}/- NETT)</label> -->
              <mat-checkbox (change)="addDeco($event)" formControlName="deco">Decoration for Foyer(Basic-LKR{{ decoPrice}}/- NETT)</mat-checkbox>
            </div>
          </li>
          <li>
            <div class="checkbox" style="display: inline-block">
              <!-- <label><input type="checkbox" value="" (click)="addScreen($event)" formControlName="screenCheck">Screen and Projector(LKR{{screenPrice}}/- NETT)</label> -->
              <mat-checkbox (change)="addScreen($event)" formControlName="screenCheck">Screen and Projector(LKR{{screenPrice}}/- NETT)</mat-checkbox>
            </div>
            <div class="form-group" style="display: inline-block">
              <label for="Amount" style="display: inline-block; margin-left: 40px">Amount</label>
              <input type="text" class="form-control" id="ScreenAmount" style="width: 20%;display: inline-block;margin-left: 10px" formControlName="screen">
            </div>
          </li>
          <li>
            <div class="checkbox" style="display: inline-block">
              <!-- <label><input type="checkbox" value="" (click)="addTiffanyChairs($event)" formControlName="tiffanyChairsCheck">Tiffany Chairs(LKR{{tiffanyChairsPrice}}/- NETT Per Chair)</label> -->
              <mat-checkbox (change)="addTiffanyChairs($event)" formControlName="tiffanyChairsCheck">Tiffany Chairs(LKR{{tiffanyChairsPrice}}/- NETT Per Chair)</mat-checkbox>
            </div>
            <div class="form-group" style="display: inline-block">
              <label for="Amount" style="display: inline-block; margin-left: 40px">Amount</label>
              <input type="text" class="form-control" id="TiffanyChairsAmount" style="width: 20%;display: inline-block;margin-left: 10px" formControlName="tiffanyChairs">
            </div>
          </li>
          <li>
            <div class="checkbox" style="display: inline-block">
              <!-- <label><input type="checkbox" value="" (click)="addMilkRicePortion($event)" formControlName="milkRicePortionCheck">Milk Rice Portion(LKR{{ milkRicePortionPrice}}/- NETT Per Person )</label> -->
              <mat-checkbox (change)="addMilkRicePortion($event)" formControlName="milkRicePortionCheck">Milk Rice Portion(LKR{{ milkRicePortionPrice}}/- NETT Per Person )</mat-checkbox>
            </div>
            <div class="form-group" style="display: inline-block">
              <label for="Amount" style="display: inline-block; margin-left: 40px">Amount</label>
              <input type="text" class="form-control" id="MilkRicePortionAmount" style="width: 20%;display: inline-block;margin-left: 10px" formControlName="milkRicePortion">
            </div>
          </li>
          
        </ul>
        
          <div class="form-group">
            <input name="ViewRoughBudget" type="submit" class="btn btn-primary btn-xl" value="View Rough Budget" required="required" >
          </div>
          
        
        </form>
    </div>
    <div class="col-md-3 square-box6" *ngIf="!Budget">
			<!-- image	 -->
    </div>
    <div class="col-md-3 square-box10" *ngIf="Budget">
			<div>
        <p>Your <br> Rough Budget <br> is <br> {{ShowBudget}}</p>
        <a class="btn btn-primary btn-xl" (click)="clearRoughBudget()">Clear</a>
	    </div>
  </div>
</div>