<div class="container-fluid">
<div class="row">
    <div class="col-md-4 box1">
      <a><div class="inner-circle-long"> 
        <h1 class="standard-pos">HALLS</h1>
      </div></a>
    </div>
    <div class="col-md-4 box2">
      <a><div class="inner-circle-long"> 
        <h1 class="deluxe">RECEPTIONISTS</h1>
      </div></a>
    </div>
    <div class="col-md-4 box3">
      <a><div class="inner-circle-long"> 
        <h1 class="superior-laggon-pos">SERVICES</h1>
      </div></a>
    </div>
</div>
</div>

<div class="container-fluid">
<div class="row">
  <div class="col-md-4 box4">
    <a><div class="inner-circle-long"> 
      <h1 class="executive-pos">MENUS</h1>
    </div></a>
  </div>
  <div class="col-md-4 box4">
    <a><div class="inner-circle-long"> 
      <h1 class="executive-pos">MENUS</h1>
    </div></a>
  </div>
  <div class="col-md-4 box4">
    <a><div class="inner-circle-long"> 
      <h1 class="executive-pos">MENUS</h1>
    </div></a>
  </div>
</div>
</div>