
<admin-navBar></admin-navBar>
<br>
<br>
<br>
<br>
<br>
<div class="container-fluid">
  <div class="row spacing">
    <div class="col-md-12 square-box7" style="margin-left: 1%; margin-right: 1%;width: 98%">
      <h1 class="left-heading menu-heading">Check Date Availability</h1>
      <p class="menu-para-text">Please Select Hall and Date</p>
<!-- form starts -->
      <form [formGroup]="checkAvailabilityForm" (ngSubmit) = "checkAvailability(checkAvailabilityForm.value)">
        <ul class="menus-list-style">
            <li>
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>Hall</mat-label>
                    <mat-select formControlName="hall">
                      <mat-option *ngFor="let hall of halls" [value]="hall._id">
                        {{hall.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </li>
            
              <li>
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </li>
            </ul>

              <div class="form-group">
                <input name="checkAvailability" type="submit"  [disabled]="!checkAvailabilityForm.valid" class="btn btn-primary btn-xl" value="Check Availability" required="required" >
              </div>
             

            </form>
            <h2 *ngIf="reservations">Confirmed Bookings</h2>
            <button type="button"  [disabled]="allowDay" class="btn btn-primary btn-table" *ngIf="reservations"   (click)="selectDay()">Book Day</button>
            <button type="button"  [disabled]="allowNight" class="btn btn-primary btn-table"  *ngIf="reservations"  (click)="selectNight()">Book Night</button>
            <button type="button"  [disabled]="allowFullday" class="btn btn-primary btn-table"  *ngIf="reservations" (click)="selectWholeDay()">Book Whole Day</button>

            <h2 *ngIf="reservations">Tentative Bookings</h2>
            <li *ngIf="reservations">
                <mat-form-field>
                    <input matInput placeholder="Client"  [matAutocomplete]="auto" (keyup)="searchClient($event)" [(ngModel)]="tentativeClientId">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let client of clients" [value]="client._id">      
                        <span>{{client.name}}</span> 
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </li>
            <button type="button"  [disabled]="allowDay" class="btn btn-primary btn-table" *ngIf="reservations"   (click)="selectTentativeDay()">Book Day</button>
            <button type="button"  [disabled]="allowNight" class="btn btn-primary btn-table"  *ngIf="reservations"  (click)="selectTentativeNight()">Book Night</button>
            <button type="button"  [disabled]="allowFullday" class="btn btn-primary btn-table"  *ngIf="reservations" (click)="selectTentativeWholeDay()">Book Whole Day</button>
            <div *ngIf="showReservations" >
              <div *ngFor="let reservation of reservations">
                  <h4 class="menu-para-text"> Sorry! Date: {{reservation.date}} is not available</h4>
                  <h4 class="menu-para-text">Booking Id: {{reservation._id}}</h4>
                <h4 class="menu-para-text">Reserved Date: {{reservation.date}}</h4>
                <h4 class="menu-para-text">Booking Status: {{reservation.status}}</h4>
                <h4 class="menu-para-text">Reserved Hall: {{reservation.hallId}}</h4>
                <h4 class="menu-para-text">Reserved Time: {{reservation.time}}</h4>
                <h4 class="menu-para-text">Client Id: {{reservation.clientId}}</h4>

              </div>


            </div>

          
          </div>
      </div>
  </div>