
<br>
<br>
<br>
<br>
<br>
<!-- menu cards start -->

<div class="container-fluid" style="margin-bottom: 10px;">
	<div class="raw">
		<div class="col-md-3">
			<div class="card">
  			<img src={{champagne}} class="card-img-top" alt="..." style="height: 400px">
  			<div class="card-body">
    			<h5 class="card-title titleStyles">Full Ball Room Draping</h5>
    			<p class="card-text">Rate: Rs.{{drapingPrice}}/-</p>
    			
  			</div>
			</div>
		</div>

		<div class="col-md-3">
				<div class="card">
					<img  src={{champagne}} class="card-img-top img-responsive" alt="..." style="height: 400px">
					<div class="card-body">
						<h5 class="card-title titleStyles">Champagne Bottle</h5>
						<p class="card-text">Rate: Rs.{{ChampagnePrice}}/-</p>
						
					</div>
				</div>
			</div>

			<div class="col-md-3">
					<div class="card">
						<img  src={{champagne}} class="card-img-top img-responsive" alt="..." style="height: 400px">
						<div class="card-body">
							<h5 class="card-title titleStyles">Dry Ice</h5>
							<p class="card-text">Rate: Rs.{{dryIcePrice}}/-</p>
							
						</div>
					</div>
        </div>
        
        <div class="col-md-3">
					<div class="card">
						<img  src={{champagne}} class="card-img-top img-responsive" alt="..." style="height: 400px">
						<div class="card-body">
							<h5 class="card-title titleStyles">Milk Rice Platter For Couple</h5>
							<p class="card-text">Rate: Rs.{{milkRicePlatterPrice}}/-</p>
							
						</div>
					</div>
				</div>
  </div>
  
  
</div>


<div class="container-fluid">
	<div class="raw">
		<div class="col-md-3">
			<div class="card">
  			<img  src={{champagne}} class="card-img-top img-responsive" alt="..." style="height: 400px">
  			<div class="card-body">
    			<h5 class="card-title titleStyles">Decoration for Foyer</h5>
    			<p class="card-text">Rate: Rs.{{decoPrice}}/- upwards</p>
    			
  			</div>
			</div>
		</div>

		<div class="col-md-3">
				<div class="card">
					<img  src={{champagne}} class="card-img-top img-responsive" alt="..." style="height: 400px">
					<div class="card-body">
						<h5 class="card-title titleStyles">Screen and Projector</h5>
						<p class="card-text">Rate: Rs.{{screenPrice}}/- per</p>
						
					</div>
				</div>
			</div>

			<div class="col-md-3">
					<div class="card">
						<img  src={{champagne}} class="card-img-top img-responsive" alt="..." style="height: 400px">
						<div class="card-body">
							<h5 class="card-title titleStyles">Tiffany Chairs</h5>
							<p class="card-text">Rate: Rs.{{tiffanyChairsPrice}}/- per chair</p>
							
						</div>
					</div>
        </div>
        
        <div class="col-md-3">
					<div class="card">
						<img  src={{champagne}} class="card-img-top img-responsive" alt="..." style="height: 400px">
						<div class="card-body">
							<h5 class="card-title titleStyles">Milk Rice Portion</h5>
							<p class="card-text">Rate: Rs.{{milkRicePortionPrice}}/- per person</p>
							
						</div>
					</div>
				</div>
  </div>
  
  
</div>

<!-- menu cards end -->
