<!-- carousal starts -->
<div class="">
    
  <carousel>
    
      <slide>
        <img src={{pic1}} alt="First slide" class="img-responsive center-block" style="display: block; width: 100%;">
      </slide>

      <slide>
        <img src={{pic2}} alt="Second slide" class="img-responsive center-block" style="display: block; width: 100%;">
      </slide>

      <slide>
        <img src={{pic3}} alt="Third slide" class="img-responsive center-block" style="display: block; width: 100%;">
      </slide>

      <div class="carousel-caption">
          <div class="carousal-inner">
            
              <div class="form-group">
                <button [routerLink]="['/booking']" name="BookNow" class="btn btn-primary btn-xl" required="required">Book Now</button>
              </div>
            
          </div>
      </div>
    </carousel>
   
</div>
<!-- carousal ends -->

<!-- plan event button starts -->
<div class="booking-wrapper"><button type="button" class="btn btn-light btn-xxl btn-block" (click)="bringTable()">Plan Your Event Now</button></div>
<!-- plan event button ends -->

<!-- detail raw starts -->
<div class="container-fluid">
	<div class="row spacing">
      <div class="col-md-4 square-box5">
  
				<img src='/assets/images/PngLogo.png' class="logoBox img-responsive">
				
			</div>
			

				<div class="col-md-4 square-box4 ">
					<a href="wedding-menus-main"><div class="inner-text"> 
						<h1 class="wedding-menu-pos">WEDDING<br> MENUS</h1>
					</div></a>
				</div>

				<div class="col-md-4 square-box5">
						
					<img src='/assets/images/PngLogo.png' class="logoBox img-responsive">

				</div>
	</div>
	</div>
<!-- detail raw ends -->

<!-- menu cards start -->
<div class="container-fluid">
	<div class="raw">
		<div class="col-md-4">
			<div class="card">
  			<img src={{royalSilver}} class="card-img-top" alt="...">
  			<div class="card-body">
    			<h5 class="card-title titleStyles">Royal Silver</h5>
    			<p class="card-text">Rate: Rs.{{silverPrice}}/- per person</p>
    			<a class="btn btn-primary btn-xl">Veiw Detail</a>
  			</div>
			</div>
		</div>

		<div class="col-md-4">
				<div class="card">
					<img src={{royalGold}} class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title titleStyles">Royal Gold</h5>
						<p class="card-text">Rate: Rs.{{goldPrice}}/- per person</p>
						<a class="btn btn-primary btn-xl">View Detail</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
					<div class="card">
						<img src={{royalPlatinum}} class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title titleStyles">Royal Platinum</h5>
							<p class="card-text">Rate: Rs.{{platinumPrice}}/- per person</p>
							<a class="btn btn-primary btn-xl">View Detail</a>
						</div>
					</div>
				</div>
	</div>			
</div>

<!-- menu cards end -->
<p></p>

<div class="container-fluid">
<div class="row spacing">
	<div class="col-md-8 square-box7" style="margin-right: 1%; width:66% ">
		<h1 class="left-heading menu-heading">Additional Services</h1>
		<p class="menu-para-text">Our wedding package includes:</p>
			<ul class="menus-list-style">
				<li>Minimum of 150 people required</li>
				<li>Fully Air Conditioned Ballroom</li>
				<li>International Cuisine</li>
				<li>Buffet style</li>
				<li>Package include for 5 hours and any additional hours will charge LKR 50,000/- nett per hour</li>
				<li>Chair Covers with Bows</li>
				<li>Tiffany Chairs at no cost (depend on availability)</li>
				<li>Microphones including Cordless and Podium</li>
				<li>Traditional Oil Lamp</li>
				<li>Table for Cake Structure</li>
				<li>Table for Registration &amp; Gift</li>
				<li>Champagne fountain structure</li>
				<li>Band stand / Dance Floor &amp; Red Carpet</li>
				<li>Photography locations within the Hotel including the pool area on the day of the function</li>
				<li>A complimentary day use room for dressing purposes on the day of the function (6 Hours)</li>
				<li>A complimentary overnight stay with the breakfast for the couple at Deluxe Room decorated with romantic set up and amenities (Please note that, this guaranteed number exceeds 200 pax will upgrade for the half board)</li>
				<li>Fresh juice as welcome drinks</li>
				<li>A bottle of sparkling wine, fruit basket, chocolate platter and cake</li>
				<li>Dedicated banquet coordinator</li>
				<li>Corkage is offered free of charge for hard liquor</li>
				<li>Beer / soft drinks need to buy from the hotel (No home- made Wine Allowed)</li>
				<li>Dry bites (only Mixtures, Cashew &amp; Green Apple) can bring from outside but cooked bites need to order from the hotel</li>
				<li>Child below 5 years is complimentary</li>
				<li>Our lighting system can be changed to many colors match your theme</li>
			</ul>
		<p class="menu-para-text">
			Our services include bites, beer and soft drinks at exceptional rates 
			<a id="bites" href="https://www.grandeeza.com/wp-content/themes/grandeeza-theme/images/pdf/bites-and-beverage-list 2018 &amp; 2019.pdf" target="_blank"> 
			(see bites and beverage list) </a>, if you require special 
			arrangements in keeping with the bridal theme you have in mind, be it unusual floral décor, cake structure or even services 
			such as “Poruwa”, we can help you source the expertise of wedding related professional service providers to help you create 
			the dream wedding matched to your budget and purse. 
		</p>
		
	</div>
	<div class="col-md-4 square-box6">
			<!-- image	 -->
	</div>
</div>
</div>


<div class="container-fluid">
		<div class="row spacing">

				<div class="col-md-4 square-box8">
						<!-- image	 -->
				</div>

<div class="col-md-8 square-box7" style="margin-right:0px; margin-left:1%;">
		<h1 class="left-heading menu-heading">Other Charges</h1>
		<!-- <p class="menu-para-text">Our wedding package includes:</p> -->
			<ul class="menus-list-style">
			<li>Full Ballroom Draping (Black / White): Rs. 120,000/-</li>
			<li>The Ballroom is provided for a maximum duration of five (5) hours. Should you need to use the venue for more than the time 
			allocated by the hotel, an additional charge of Rs. 50,000/- nett per hour will apply (on availability only and at the
			discretion of the management).</li>
			<li>Kindly note that Rs. 50, 000/= from the initial deposit will be refunded after one week of the function if there are
			no damages to hotel property.</li>
			<li>Screen and Projector</li>
			<li>Champagne Bottle for the Champagne Fountain &amp; Dry Ice</li>
			<li>Milk Rice Platter</li>
			<li>Milk Rice Portion (Including two pieces of milk rice ,katta sambol,Lunumiris &amp; Tea or coffee)</li>
			<li>If guest needs to decorate the public areas(Foyer area) from the florist,it can be done at a additional cost.(starting rate is LKR25,000/- and depend on the setup)</li>
			</ul>
		
	</div>
</div>

</div>