
<imageslides></imageslides>
<div class="booking-wrapper"><button type="button" class="btn btn-link btn-xl">Plan Your Event Now</button></div>
<div class="container-fluid">

  <div class="row">
      <div class="col-md-4 square-box5">
  
  <carousel>
    
			<slide>

						 
								 
									 <div class=" text-center">
										 <h3 class="offers-heading">Guest Reviews</h3>
										 <hr>
									 </div>
								 
								 
										 
												<div class="blockquote">
												 <div class="col-sm-12">
												 <p class="slider-para">We had an awesome wedding reception at Royal Rose Ballroom 01 &amp; 02 on 29.12.2017. Thank you all for making my day with a great service. Food was pretty delicious. No one complain at all."</p> 
											 	 </div>
												</div>
										 
						 
					 
					 
			</slide>

      <slide>
       
					
							
								<div class=" text-center">
									<h3 class="offers-heading">Guest Reviews</h3>
									<hr>
								</div>
							
							
									
											<div class="blockquote">
										
										<div class="col-sm-12">
											<p class="slider-para">"We had our wedding on Jan 18th, 2017 in Royal Lotus. It was an un-forgettable event with marvellous surroundings. Also the stay of 1 day right after gave a pleasant time for us"</p> 
										</div>
										
											</div>
									
					
				
				
      </slide>

			<slide>
					
						
								 
									 <div class="text-center">
										 <h3 class="offers-heading">Guest Reviews</h3>
										 <hr>
									 </div>
								 
								 
										 
												 <div class="blockquote">
											  
											 <div class="col-sm-12">
												 <p class="slider-para">"The hotel is amazing and the staff is exceptionally great. To be honest one of the best hotels I've visited. Food is classy and what a hospitality. Totally reccomand it"</p> 
											 </div>
											 
												 </div>
										 
						 
												
					 
				 </slide>

     
  </carousel>
			</div>
			

				<div class="col-md-4 square-box4">
					<a href="wedding-menus-main"><div class="inner-text"> 
						<h1 class="wedding-menu-pos">WEDDING<br> MENUS</h1>
					</div></a>
				</div>

				<div class="col-md-4 square-box5">
  
					<carousel>
						
							<slide>
				
										 
												 
													 <div class=" text-center">
														 <h3 class="offers-heading">Guest Reviews</h3>
														 <hr>
													 </div>
												 
												 
														 
																<div class="blockquote">
																 <div class="col-sm-12">
																 <p class="slider-para">We had an awesome wedding reception at Royal Rose Ballroom 01 &amp; 02 on 29.12.2017. Thank you all for making my day with a great service. Food was pretty delicious. No one complain at all."</p> 
																	</div>
																</div>
														 
										 
									 
									 
							</slide>
				
							<slide>
							 
									
											
												<div class=" text-center">
													<h3 class="offers-heading">Guest Reviews</h3>
													<hr>
												</div>
											
											
													
															<div class="blockquote">
														
														<div class="col-sm-12">
															<p class="slider-para">"We had our wedding on Jan 18th, 2017 in Royal Lotus. It was an un-forgettable event with marvellous surroundings. Also the stay of 1 day right after gave a pleasant time for us"</p> 
														</div>
														
															</div>
													
									
								
								
							</slide>
				
							<slide>
									
										
												 
													 <div class="text-center">
														 <h3 class="offers-heading">Guest Reviews</h3>
														 <hr>
													 </div>
												 
												 
														 
																 <div class="blockquote">
																
															 <div class="col-sm-12">
																 <p class="slider-para">"The hotel is amazing and the staff is exceptionally great. To be honest one of the best hotels I've visited."</p> 
															 </div>
															 
																 </div>
														 
										 
																
									 
								 </slide>
				
						 
					</carousel>
							</div>




	</div>


	
</div>
   







