
<admin-navBar></admin-navBar>
<div class="container-fluid">
        <div class="raw">
            <div class="col-md-4">
                <div class="card">
                  <img src={{MainMenus}} class="card-img-top cardImages" alt="...">
                  <div class="card-body">
                    
                    <a class="btn btn-primary btn-xl" (click)="bringMenus()" >Show</a>
                  </div>
                </div>
            </div>
    
            <div class="col-md-4">
                    <div class="card">
                        <img src={{Categories}} class="card-img-top cardImages" alt="...">
                        <div class="card-body">
                            
                            <a  class="btn btn-primary btn-xl"  (click)="bringCategories()">Show</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                        <div class="card">
                            <img src={{Items}} class="card-img-top cardImages" alt="...">
                            <div class="card-body">
                                
                                <a class="btn btn-primary btn-xl">Show</a>
                            </div>
                        </div>
                    </div>
        </div>			
    </div>
   