<admin-navBar></admin-navBar>
<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">
        <div class="raw">
            <div class="col-md-4">
                
                <a class="btn btn-primary btn-xl" (click)="bringCreateClients()" >Create Client</a>
            </div>
    
            <div class="col-md-4">
                    <!-- <div class="card">
                        <img src={{TentativeBookings}} class="card-img-top cardImages" alt="...">
                        <div class="card-body">
                            
                            <a  class="btn btn-primary btn-xl"  (click)="bringTentativeBookings()">Handle</a>
                        </div>
                    </div> -->
                    <a  class="btn btn-primary btn-xl"  (click)="bringAddMembers()">View Clients <br> Details</a>
                </div>
                
            <div class="col-md-4">
                <!-- <div class="card">
                    <img src={{TentativeBookings}} class="card-img-top cardImages" alt="...">
                    <div class="card-body">
                        
                        <a  class="btn btn-primary btn-xl"  (click)="bringTentativeBookings()">Handle</a>
                    </div>
                </div> -->
                <a  class="btn btn-primary btn-xl"  (click)="bringAddMembers()">Add Members</a>
            </div>
                </div>

