<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
<form>
<div class="booking-container">
        <mat-form-field>
                <mat-select placeholder="Select">
                  <mat-option value="option">Event Type</mat-option>
                </mat-select>
        </mat-form-field>
      
        <mat-form-field>
                <mat-select placeholder="Select">
                  <mat-option value="option">Capacity</mat-option>
                </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Payment Method</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Day</mat-radio-button>
                <mat-radio-button value="2">Night</mat-radio-button>
        </mat-radio-group>
      </div>
</form>
</div>