<div style="text-align: center; margin-bottom: -10%">
     <img src={{logo}} style="width: 200px;height:200px">
</div>
<div style="text-align: center">

<div fxLayout="row" fxLayoutAlign="center center" class="login-main" style="margin-left: 25%;width:120%">

     <mat-card >
         <mat-card-header>
               <div style="text-align: center;">
               <mat-card-title style="color:darkgoldenrod" class="titleStyles">Login Hotel Royal Park</mat-card-title>
          </div>
          </mat-card-header>
     
     
         <mat-card-content fxLayout="column">
     
               <form [formGroup]="loginForm" (ngSubmit)="getHomeComponent()">
                    <mat-form-field hintLabel="Enter a valid User Name" appearance="outline">
                         <mat-label>User Name</mat-label>
                         <input matInput
                         placeholder="User Name" formControlName="userName">
                         <div *ngIf="loginForm.get('userName').touched && loginForm.get('userName').invalid">
                              <!-- <mat-error *ngIf="loginForm.get('email').errors.required">Email is required</mat-error>
                              <mat-error *ngIf="loginForm.get('email').errors.email">Email address invalid</mat-error> -->
                         </div>
                         
                    </mat-form-field>
                     
                    <br>
     
                    <mat-form-field hintLabel="Min 8 characters" appearance="outline">
                         <mat-label>Password</mat-label>
                         <input matInput type="password" 
                          placeholder="password" formControlName="password">
                         <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
                              <!-- <mat-error *ngIf="password.errors.required">password is required</mat-error> -->
                         </div>
                         
                    </mat-form-field>
     
                    <mat-card-actions align="end">
                         <button  mat-raised-button color="primary" [disabled]="!loginForm.valid" class="btn-xl">Login</button>
                    </mat-card-actions>
     
               </form>
     
          </mat-card-content>
     
          
     
          <mat-card-actions align="end" style="position: relative">
               <a style="text-align: left;">Forgot Password?</a>
          </mat-card-actions>
     
         
              
     
         
     </mat-card>
     </div>
</div>