<imageslides></imageslides>


<p></p>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
    
    <carousel [interval]="false">
      
        <slide>
          <img src={{pic1}} alt="First slide" style="display: block; width: 100%;">
        </slide>
  
        <slide>
          <img src={{pic2}} alt="Second slide" style="display: block; width: 100%;">
        </slide>
  
        <slide>
          <img src={{pic3}} alt="Third slide" style="display: block; width: 100%;">
        </slide>
  
       
    </carousel>
        </div>

    </div>
     
</div>

<p></p>

<div class="container-fluid">

        <div class="row">
            <div class="col-md-3">
        
        <carousel [interval]="false">
          
            <slide>
              <img src={{pic1}} alt="First slide" style="display: block; width: 100%;">
            </slide>
      
            <slide>
              <img src={{pic2}} alt="Second slide" style="display: block; width: 100%;">
            </slide>
      
            <slide>
              <img src={{pic3}} alt="Third slide" style="display: block; width: 100%;">
            </slide>
      
           
        </carousel>
          </div>
    
        </div>
         
</div>

<p></p>

<div class="container-fluid">

            <div class="row">
                <div class="col-md-3">
            
            <carousel [interval]="false">
              
                <slide>
                  <img src={{pic1}} alt="First slide" style="display: block; width: 100%;">
                </slide>
          
                <slide>
                  <img src={{pic2}} alt="Second slide" style="display: block; width: 100%;">
                </slide>
          
                <slide>
                  <img src={{pic3}} alt="Third slide" style="display: block; width: 100%;">
                </slide>
          
               
            </carousel>
                </div>
        
            </div>
             
</div>
