<imageslides></imageslides>

<!-- plan event button starts -->
<div class="booking-wrapper"><button type="button" class="btn btn-light btn-xxl btn-block" (click)="bringTable()">Plan Your Event Now</button></div>
<!-- plan event button ends -->


<p></p>
<!-- royal Lotus row starts -->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
    
    <carousel [interval]="false">
      
        <slide>
          <img src={{pic1}} alt="First slide" style="display: block; width: 100%;">
        </slide>
  
        <slide>
          <img src={{pic2}} alt="Second slide" style="display: block; width: 100%;">
        </slide>
  
        <slide>
          <img src={{pic3}} alt="Third slide" style="display: block; width: 100%;">
        </slide>
  
       
    </carousel>
        </div>
        <div class="col-md-4 text-center square-box11 ">
            <h2 class="titleStyles">Royal Lotus Banquet</h2>
            <p class="paraText">Royal Lotus Banquet the ideal location we offer for wedding ceromonies. 
                With a large spacious area and high ceilings with elegant crystal chandeliers,
                we ensure a truly magical experience for your reception. The banquet hall is fully air-conditioned with a special lighting system which can be changed according to your color theme.</p>

        </div>
        <div class="col-md-4">
    
            <carousel [interval]="false">
              
                <slide>
                  <img src={{pic1}} alt="First slide" style="display: block; width: 100%;">
                </slide>
          
                <slide>
                  <img src={{pic2}} alt="Second slide" style="display: block; width: 100%;">
                </slide>
          
                <slide>
                  <img src={{pic3}} alt="Third slide" style="display: block; width: 100%;">
                </slide>
          
               
            </carousel>
                </div>

    </div>
     
</div>
<!-- royal Lotus row ends -->
<p></p>

<!-- royal Tulip Row Starts -->
<div class="container-fluid">

        <div class="row">
            <div class="col-md-4">
        
        <carousel [interval]="false">
          
            <slide>
              <img src={{pic1}} alt="First slide" style="display: block; width: 100%;">
            </slide>
      
            <slide>
              <img src={{pic2}} alt="Second slide" style="display: block; width: 100%;">
            </slide>
      
            <slide>
              <img src={{pic3}} alt="Third slide" style="display: block; width: 100%;">
            </slide>
      
           
        </carousel>
          </div>
          <div class="col-md-4 text-center square-box11 ">
              <h2 class="titleStyles">Royal Tulip Banquet</h2>
              <p class="paraText">Royal Tulip Banquet is the largest and most popular reception location we offer.
                  With a large spacious area and high ceilings with elegant crystal chandeliers,
                  we ensure a truly magical experience for your reception. The banquet hall is fully air-conditioned with a special lighting system which can be changed according to your color theme.</p>
  
          </div>
          <div class="col-md-4">
    
              <carousel [interval]="false">
                
                  <slide>
                    <img src={{pic1}} alt="First slide" style="display: block; width: 100%;">
                  </slide>
            
                  <slide>
                    <img src={{pic2}} alt="Second slide" style="display: block; width: 100%;">
                  </slide>
            
                  <slide>
                    <img src={{pic3}} alt="Third slide" style="display: block; width: 100%;">
                  </slide>
            
                 
              </carousel>
                  </div>
  
    
        </div>
         
</div>
<!-- Royal Tulip Row Ends -->
<p></p>

<!-- Royal Rose Row Starts -->
<div class="container-fluid">

            <div class="row">
                <div class="col-md-4">
            
            <carousel [interval]="false">
              
                <slide>
                  <img src={{pic1}} alt="First slide" style="display: block; width: 100%;">
                </slide>
          
                <slide>
                  <img src={{pic2}} alt="Second slide" style="display: block; width: 100%;">
                </slide>
          
                <slide>
                  <img src={{pic3}} alt="Third slide" style="display: block; width: 100%;">
                </slide>
          
               
            </carousel>
                </div>
                <div class="col-md-4 text-center square-box11 ">
                    <h2 class="titleStyles">Royal Rose Banquet</h2>
                    <p class="paraText">We are Hotel Royal Park proudly inform all our customer’s that our upcoming new Banquet Hall - “Royal Rose” now is open for your wedding dreams. 
                        Especially this banquet hall is designed in different art of customer’s eye catch. 
                        Facility in 300 guests to accommodate comfortably.</p>
        
                </div>
                <div class="col-md-4">
    
                    <carousel [interval]="false">
                      
                        <slide>
                          <img src={{pic1}} alt="First slide" style="display: block; width: 100%;">
                        </slide>
                  
                        <slide>
                          <img src={{pic2}} alt="Second slide" style="display: block; width: 100%;">
                        </slide>
                  
                        <slide>
                          <img src={{pic3}} alt="Third slide" style="display: block; width: 100%;">
                        </slide>
                  
                       
                    </carousel>
                        </div>
        
        
            </div>
             
</div>
<!-- Royal Rose Row Ends -->